# Deploys to TestFlight on every push to main
name: Deploy iOS to App Store

on:
  push:
    branches:
      - main
    paths:
      - 'composeApp/**'
      - 'iosApp/**'
      - 'fastlane/**'
      - '.github/workflows/deploy_ios.yml'
  workflow_dispatch:
    inputs:
      destination:
        description: 'Deployment destination'
        required: true
        default: 'testflight'
        type: choice
        options:
          - testflight
          - release

jobs:
  compute-version:
    uses: ./.github/workflows/template-compute-version.yml
    with:
      type: ci

  deploy:
    needs: compute-version
    uses: ./.github/workflows/template-build-ios.yml
    with:
      destination: ${{ github.event_name == 'push' && 'testflight' || inputs.destination }}
      version: ${{ needs.compute-version.outputs.version }}
    secrets: inherit
