name: Deploy iOS to App Store

on:
  push:
    branches:
      - main
    paths:
      - 'composeApp/**'
      - 'iosApp/**'
      - 'fastlane/**'
      - '.github/workflows/deploy_ios.yml'
  workflow_dispatch:
    inputs:
      destination:
        description: 'Deployment destination'
        required: true
        default: 'testflight'
        type: choice
        options:
          - testflight
          - release

jobs:
  deploy:
    uses: ./.github/workflows/template-build-ios.yml
    with:
      destination: ${{ github.event_name == 'push' && 'testflight' || inputs.destination }}
    secrets:
      IOS_DISTRIBUTION_CERTIFICATE_BASE64: ${{ secrets.IOS_DISTRIBUTION_CERTIFICATE_BASE64 }}
      IOS_DISTRIBUTION_CERTIFICATE_PASSWORD: ${{ secrets.IOS_DISTRIBUTION_CERTIFICATE_PASSWORD }}
      APPLE_KEYCHAIN_PASSWORD: ${{ secrets.APPLE_KEYCHAIN_PASSWORD }}
      IOS_PROVISIONING_PROFILE_BASE64: ${{ secrets.IOS_PROVISIONING_PROFILE_BASE64 }}
      APPLE_APP_STORE_CONNECT_API_KEY_BASE64: ${{ secrets.APPLE_APP_STORE_CONNECT_API_KEY_BASE64 }}
      IOS_PROVISIONING_PROFILE_SPECIFIER: ${{ secrets.IOS_PROVISIONING_PROFILE_SPECIFIER }}
      APPLE_DEVELOPMENT_TEAM: ${{ secrets.APPLE_DEVELOPMENT_TEAM }}
